<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/ligth-variables.css">
    <link rel="stylesheet" href="./CSS/universal.css">
    <link rel="stylesheet" href="./CSS/index.css">
    <script src="https://kit.fontawesome.com/5c7edfd842.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Contry Info Web</title>
</head>

<body>
    <div id="app">
        <header class="header">
            <div class="header--inside-container">
                <h2 class="u-heading-2">Where in the World?</h2>

                <button class="dark-ligth-mode-button">
                    <i class="dark-ligth-mode-icon"></i>
                    Dark Mode
                </button>
            </div>
        </header>

        <div class="operation-section-container">
            <div class="search-and-filter-bar">
                <div class="search-input-container">
                    <i class="search-icon"></i>
                    <input type="text" v-model.trim="countryToSearch" @keyup="searchCountryByName" name="countryname" id="country-name-input" class="search-input"
                        placeholder="Search for a country ...">
                </div>

                <div class="filter-container">
                    <div class="filter-by-region-container">
                        <select v-model="selectedRegion" @change="searchCountryByRegion" name="region" id="region-input">
                            <option value="all">All</option>
                            <option value="africa">Africa</option>
                            <option value="americas">Americas</option>
                            <option value="asia">Asia</option>
                            <option value="europe">Europe</option>
                            <option value="oceania">Oceania</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="main-container">
                <country-container v-for="country in countries" :country="country"></country-container>
               

            </div>


        </div>

    </div>

    <script src="./JS/index.js"></script>
</body>

</html>